.direct_call_dialog_buttons_section {
}

.direct_call_dialog_accept_button {
  border-radius: 50px;
  outline: none;
  border: 1px solid #e6e5e8;
  font-size: 16px;
  padding: 10px 10px;
  width: 120px;
  transition: 0.3s;
  color: #fff;
  background-color: #505074;
}

.direct_call_dialog_accept_button:hover {
  background-color: green;
}

.direct_call_dialog_reject_button {
  border-radius: 50px;
  outline: none;
  border: 1px solid #e6e5e8;
  font-size: 16px;
  padding: 10px 10px;
  width: 120px;
  transition: 0.3s;
  color: #fff;
  background-color: #505074;
}

.direct_call_dialog_reject_button:hover {
  background-color: darkred;
  opacity: 0.5;
  color: #fff;
}
