.direct_call_dialog {
  position: absolute;
  width: 300px;
  height: 200px;
  top: calc(50% - 150px);
  left: calc(50% - 200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.background_calling_dialog {
  background-color: #606074;
  padding: 100px;
}
.direct_call_dialog_caller_name {
  font-size: 20px;
}

.direct_call_dialog_button_container {
  margin-top: 20px;
}
.direct_call_dialog_button_container:hover {
  opacity: 0.5;
  cursor: pointer;
}
