.buttons_section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.buttons_section button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #606074;
}

.buttons_background {
  background-color: transparent;
  border: 0;
  padding: 10px;
  cursor: pointer;
}

.buttons_background:hover {
  opacity: 0.5;
}
