.dashboard_container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.dashboard_left_section {
  width: 20%;
  height: 100%;
  border-right: 5px solid #606074;
}

.dashboard_content_container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard_info_text_description {
  margin-top: 20px;
  font-size: 20px;
}

.dashboard_logo_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

.dashboard_logo_image {
  width: 60%;
}

.room_id_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
}

.room_id_container span {
  font-weight: bold;
  font-size: 20px;
}

.room_id_container div {
  align-self: center;
  background-color: #50c8a8;
  padding: 8px;
  width: 80%;
  border-radius: 12px;
  margin: 20px 0;
  transition: opacity 0.3s;
}

.room_id_container div:hover {
  cursor: pointer;
  opacity: 0.5;
}

.room_id_container div p {
  font-size: 18px;
  font-weight: bold;
}

.room_id_container small {
  color: #ccc;
}
